Adafruit-Blinka==8.34.0
adafruit-circuitpython-bno055==5.4.13
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==3.0.1
adafruit-circuitpython-typing==1.10.2
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
importlib-resources==6.1.2
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pillow==10.2.0
pyftdi==0.55.0
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
RPi.GPIO==0.7.1
six==1.16.0
typing-extensions==4.10.0
zipp==3.17.0
